.colpostwrapper{
    transition: .3s ease-in-out;
}

.colpostwrapper:hover{
    transform: scale(1.02);
}

.postgrid{
    box-shadow: 1px 2px 6px -2px black;
    width: 100%;
    border-radius: 5px;
}

.postinfo{
    display: flex;
    /* justify-content: center; */
}

.postimage{
    height: 30px;
    width: 30px;
    border-radius: 50% 50%;
}

.gridname{
    font-size: 13px;
    font-weight: 500;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.gridtime{
    font-weight: 300;
    font-size: 12px;
    display: flex;
    align-items: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.body{
    font-weight: 400;
    font-size: 16px;
}

.liked{
    color: red !important;
    cursor: pointer;
    font-weight: 400;
    font-size: 22px;
}

.likeicon{
    cursor: pointer;
    font-weight: 400;
    font-size: 22px;
}

@media screen and (max-width:992px) {


    .body{
        font-weight: 400;
        font-size: 15px;
    }
    .likeicon{
        cursor: pointer;
        font-weight: 400;
        font-size: 20px;
    }
    .liked{
        cursor: pointer;
        font-weight: 400;
        font-size: 20px;
    }
}

@media screen and (max-width:576px) {

    .body{
        font-weight: 400;
        font-size: 14px;
    }
    .likeicon{
        cursor: pointer;
        font-weight: 400;
        font-size: 18px;
    }
    .liked{
        cursor: pointer;
        font-weight: 400;
        font-size: 18px;
    }
}